@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

.body {
  display: grid;
  margin: 0%;
  place-items: center;
  height: 100vh;
}

.app-body {
  display: flex;
  height: 100%;
  width: 100%;
}
